.about-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Mr Dafoe', cursive;
}
.textab{
    font-size: 30px;
}

.textab-1{
    font-size: 35px;
}