.menu-item {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Mr Dafoe', cursive;
    text-shadow: black 0 1px 4px;
}
.menu-item-active {
    text-decoration: none;
    color: rgb(166, 0, 207);
    font-size: 35px;
    font-family: 'Mr Dafoe', cursive;
    text-shadow: black 0 1px 4px;
    

}