.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mr Dafoe', cursive;
    font-size: 30px;
}
.card-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mr Dafoe', cursive;

}