.nav{
    font-size: 35px;
    font-family: 'Mr Dafoe', cursive;
}
.home{
    text-shadow: black 0 1px 4px;
    text-decoration: none;
    color: black;
}
.price{
    text-shadow: black 0 1px 4px;
    text-decoration: none;
    color: black;
}
.brand{
    text-shadow: black 0 1px 4px;
}
.home:hover{
    text-shadow: rgb(255, 0, 0) 0 1px 4px;
    transition: 1.5s ;
}
.price:hover{
    text-shadow: rgb(255, 0, 0) 0 1px 4px;
    transition: 1.5s;
}